body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.kalendarz {
  background-color: white;
  width: 300px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.naglowek {
  background-color: red;
  color: white;
  font-size: 24px;
  border-radius: 17px;
  padding: 15px 0;
}

.dzien-numer {
  font-size: 80px;
  font-weight: bold;
  color: black;
  margin: 20px 0 10px;
}

.dzien-nazwa {
  font-size: 18px;
  font-weight: bold;
  color: #555;
  margin-bottom: 10px;
}

.czas {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}